.contenedor_form_activity {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor de formulario */

.content_form {
    border: 2px solid rgba(250, 128, 114, 0.29);
    border-radius: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.content_form h2 {
    text-align: center;
}

.formulario {
    display: flex;
}

.descripcion {
    width: 70%;
}

.form_description {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_description select{
    width: 200px;
    margin-bottom: 20px;
    border: 1px solid rgba(250, 128, 114, 0.29);
    border-radius: 10px;
    background-color: rgba(60, 57, 57, 0.69);
    color: #ffffff;
    padding: 5px;
    text-align: center;
}

.form_description input {
    width: 300px;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgba(250, 128, 114, 0.29);
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: rgba(60, 57, 57, 0.69);
    margin-bottom: 20px;
    color: #ffff;
    font-weight: bold;
    padding: 5px;
}
.form_description label span {
    color: rgba(211, 29, 29, 0.807);
}
.form_description .div_inputs{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numero {
    width: 50px !important;
    text-align: center;
}

.content_btn_formulario{
    margin-top: 20px !important;
    padding: 5px !important;
    width: 100% !important;
    display: flex !important;
    justify-content: space-evenly !important;
}

.content_btn_formulario button{
    padding: 5px;
    cursor: pointer;
    border: 1px solid rgba(250, 128, 114, 0.29);
    border-radius: 10px;
    background-color: rgba(60, 57, 57, 0.69);
    color: #ffffff;
    width: 80px;
}

/* Contenedor de la lista de paises */

.content_lista_paises {
    border-left: 3px solid rgba(250, 128, 114, 0.29);
    border-top: 3px solid rgba(250, 128, 114, 0.29);
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.content_buscar {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: auto !important;
    justify-content: center;
}

.content_buscar input {
    width: 90% !important;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgba(250, 128, 114, 0.29);
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: rgba(60, 57, 57, 0.69);
    margin-bottom: 20px;
    color: #ffff;
    font-weight: bold;
    padding: 5px;
}
.content_buscar div {
    margin-top: -20px;
    text-align: center;
}
.content_buscar span {
    font-size: 0.1;
    color: rgb(235, 32, 32);
    text-align: end;
}

.content_select{
    margin-top: 20px;
    text-align: center;
}

.list_pais {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 210px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    align-items: center;
    text-align: center;
}
.list_pais ul li{
    color: #ffffff;
    font-weight: bold;
    padding-right: 10px;
}
.formulario span{
    font-size: 0.1;
    color: rgb(235, 32, 32);
    text-align: center;
}
.mensaje{
    color: #ffffff !important;
}

.visible{
    display: none;
}
.select_pais{
    width: 90%;
    border: 1px solid rgba(250, 128, 114, 0.29);
    border-radius: 10px;
    background-color: rgba(60, 57, 57, 0.69);
    color: #ffffff;
    padding: 5px;
}

/* estilo para los errores--------- */

.errors{
    position: absolute;
    bottom: 1px;
    color: rgb(235, 32, 32);
}

/* responsivo */
@media (min-width: 400px) {}